header {
	.container-fluid {
		display: none;
	}
}
@media screen and (min-width: 768px){
	header {
		.container-fluid,ul{
			display: flex;
			position: relative;
			flex-direction: row;
			justify-content: flex-end;
			background-color: #3a3a3a;
			li {
				padding: 0 10px;

			}
		}
	}
}