a {
  color: #000; }
  a:hover {
    color: #CCC; }

a, a:hover, a:focus, a:visited {
  text-decoration: none; }

ul {
  list-style: none;
  padding: 0; }

footer {
  font-size: 14px; }
  footer .footer-end {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }

@media screen and (max-width: 768px) {
  .admin-footer-right {
    display: flex;
    justify-content: space-between;
    flex-direction: row; }
    .admin-footer-right li {
      padding-left: 10px; }
    .admin-footer-right .support::after {
      content: "|";
      padding-left: 10px; } }

header .container-fluid {
  display: none; }

@media screen and (min-width: 768px) {
  header .container-fluid, header ul {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #3a3a3a; }
    header .container-fluid li, header ul li {
      padding: 0 10px; } }
