extends modules/layout
block variables
	- var title = "Learning Management System"
block content
	section.main-content
		.container-fluid
			.row
				.col-12.col-md-8
					.Mentor-head
						h3
							| Mentor
						p
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam augue ligula, porttitor quis convallis nec, lobortis nec felis. Mauris nisl diam, lacinia et orci sed, faucibus sollicitudin ligula. Curabitur aliquam venenatis eros, ac feugiat ante venenatis sit amet. Integer iaculis metus a nisi suscipit, a elementum lacus vehicula. Donec faucibus pellentesque sem, eget luctus lacus fringilla et.
				