footer 
	.container-fluid
		ul.admin-footer
			li
				| &copy; 2019 TECHADEMY
		ul.admin-footer-right
			li
				a(href="#")
					| Terms & Conditions
			li
				a.active(href="#")
					| Privacy
			li
				a(href="#")
					| Support
		