footer 
	.container-fluid.footer-content 
		.row
			.col-6.col-sm-6.col-md-3.col-lg-3
				h5
					| Quick Link
				ul
					li
						a(href="#")
						| Home
					li
						a(href="#")
						| About Us
					li
						a(href="#")
						| Courses
					li
						a(href="#")
						| Learning paths
					li
						a(href="#")
						| Plans
					li
						a(href="#")
						| For Business
					li
						a(href="#")
						| Blog
					li
						a(href="#")
						| Events
					li
						a(href="#")
						| News9
					li
						a(href="#")
						| FAQ
					li
						a(href="#")
						| Contact Us
			.col-6.col-sm-6.col-md-3.col-lg-3
				h5
					| Top Courses
				ul
					li
						a(href="#")
						| Adobe Photoshop
					li
						a(href="#")
						| Web Development
					li
						a(href="#")
						| Java Development
					li
						a(href="#")
						| PHP Development
					li
						a(href="#")
						| Data Science
					li
						a(href="#")
						| Machine Learning
					li
						a(href="#")
						| Deep Learning
					li
						a(href="#")
						| Graphic Design
					li
						a(href="#")
						| ....
			.col-6.col-sm-6.col-md-3.col-lg-3
				h5
					| Top Paths
				ul
					li
						a(href="#")
						| Designering
					li
						a(href="#")
						| Front End Development
					li
						a(href="#")
						| Back End Development
					li
						a(href="#")
						| Full Stack Development
					li
						a(href="#")
						| ....
			.col-6.col-sm-6.col-md-3.col-lg-3
				h5
					| Contact Us
				ul
					li
						a(href="#")
						| Adobe Photoshop
					li
						a(href="#")
						| Web Development
					li
						a(href="#")
						| Java Development
					li
						a(href="#")
						| PHP Development
					li
						a(href="#")
						| Data Science
	.container-fluid.footer-end
		ul.admin-footer
			li
				| &copy; 2019 TECHADEMY
		ul.admin-footer-right
			li
				a.support(href="#")
					| Terms & Conditions
			li
				a.active.support(href="#")
					| Privacy Policy
			li
				a(href="#")
					| Support
		