header
	.container-fluid
		nav
			ul
				li
					a(href="#")
						| Home
				li
					a(href="#")
						| About Us
				li
					a(href="#")
						| Get In Touch
				li
					a(href="#")
						| Login
				li
					a(href="#")
						| Sign in
	.container-fluid
		ul
			h5.logo
				| Techademy
			li
				a(href="#")
					| Course
					span.glyphicon.glyphicon-menu-down
			li
				a(href="#")
					| About Us
					span.glyphicon.glyphicon-menu-down
			li
				a(href="#")
					| Get In Touch
			li
				a(href="#")
					| Login
			li
				a(href="#")
					| Sign in

